
<div>
    <span class="bookmarklet"><a ng-hide="err!=undefined" href="{{bookmarkletUrl}}">betterr!</a></span>
    <!--<ul>-->
    <!--<li><input type="checkbox" ng-model="hancss"><label>加入漢字標準格式 Han.css</label></li>-->
        <!--<li><input type="checkbox" ng-model="hanjs"><label>加入漢字標準格式 Han.js</label></li>-->
    <!--<li><input type="checkbox" ng-model="tongwens2t"><label>加入同文堂簡轉正</label></li>-->
        <!--<li><input type="checkbox" ng-model="tongwent2s"><label>加入同文堂正轉簡</label></li>-->
    <!--</ul>-->
    <div class="compile-btn">
    <button ng-click='compile()'>Compile Bookmarklet</button>
    <span ng-show="err!=undefined">Compile Error: {{err.message}} at column {{err.location.first_column}}, line {{err.location.first_line}}</span>
</div>
</div>

<div ng-show="bookmarkletUrl!=undefined" class="codeviwer" ui-ace="{
	mode: 'javascript',
	theme: 'monokai',
	showGutter: false,
	useWrapMode: true
}" ng-model="bookmarkletUrl"></div>

<!--<div class="CSSEditor" ui-ace="{ -->
<!--mode: 'css', -->
<!--theme: 'monokai',-->
<!--showGutter: false,-->
<!--useWrapMode: true-->
<!--}" ng-model="css"></div>-->


